html, body, #root {
  font: 0.9rem sans-serif;
  background: #0a1f44;
  color: #1e2432;
  height: 100%;
  margin: 0;
}

.main-container {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418) ), url('./assets/background-bg.png');
  background-size: cover;
  background-position: center;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-header {
  color: rgba(250, 250, 250, 0.85);
}

.search-wrapper {
  display: flex;
  background: rgba(250, 250, 250, 0.85);

  border-radius: 20px;

  margin-bottom: 32px;

}

.search-button {
  background: url('./assets/icons/loupe.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  border: none;
  outline: none;

  min-width: 42px;
  padding: 20px; 
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgba(240, 240, 240, 0.85);

}

.search {
  outline: none;
  padding: 20px;
  border-radius: 20px 0 0 20px;
  border: none;
  background: rgba(250, 250, 250, 0.85);
  font-size: 1.2em;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 40px 8%; */
  padding: 20px;
  background: rgba(250, 250, 250, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);

  max-width: 100%;
}

.city--top {
  padding-bottom: 0;
  /* border-radius: 20px 20px 0 0; */
}

.city--bottom {
  padding-bottom: 20px;
  padding-top: 0;
  border-radius: 0 0 20px 20px;
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.city-temp {
  font-size: 3rem;
  font-weight: bold;
  color: #1e2432;
  text-align: center;
}

.city sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 2em;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  color: #fff;
  background: #8e44ad;
}

.city-icon {
  width: 80px;
  height: 80px;
}

.city-icon--small {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
  margin-bottom: 0;
  border-radius: 20px;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  background: rgba(250, 250, 250, 0.95);
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
  background: #fff;
  
}

.ant-tabs-tab {
  border: 20px;
}

.ant-tabs {
  border-radius: 20px;
}

.time-card-wrapper{
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
}

.time-card {
  box-shadow: 4px 4px 2px 0px rgba(150, 150, 150, 0.204);
  border-radius: 4px;
  padding: 10px;
  margin-right: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 78px;
}

.tabs-container {

  max-width: 322px;
}


@media only screen and (max-width: 600px) {
  .search {
      padding: 20px 7%;
  }

  .ant-tabs {
    border-radius: 0;
  }
  .city--bottom {
    margin-bottom: 40px;
    border-radius: 0;
  }

}
